In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/deliveries/deliveries.csv

In [2]:
from matplotlib import pyplot as plt
import seaborn as sns
deliveries=pd.read_csv('/kaggle/input/deliveries/deliveries.csv')
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [3]:
deliveries['match_id'].unique()

array([    1,     2,     3,     4,     5,     6,     7,     8,     9,
          10,    11,    12,    13,    14,    15,    16,    17,    18,
          19,    20,    21,    22,    23,    24,    25,    26,    27,
          28,    29,    30,    31,    32,    33,    34,    35,    36,
          37,    38,    39,    40,    41,    42,    43,    44,    45,
          46,    47,    48,    49,    50,    51,    52,    53,    54,
          55,    56,    57,    58,    59,    60,    61,    62,    63,
          64,    65,    66,    67,    68,    69,    70,    71,    72,
          73,    74,    75,    76,    77,    78,    79,    80,    81,
          82,    83,    84,    85,    86,    87,    88,    89,    90,
          91,    92,    93,    94,    95,    96,    97,    98,    99,
         100,   101,   102,   103,   104,   105,   106,   107,   108,
         109,   110,   111,   112,   113,   114,   115,   116,   117,
         118,   119,   120,   121,   122,   123,   124,   125,   126,
         127,   128,   129,   130,   131,   132,   133,   134,   135,
         136,   137,   138,   139,   140,   141,   142,   143,   144,
         145,   146,   147,   148,   149,   150,   151,   152,   153,
         154,   155,   156,   157,   158,   159,   160,   161,   162,
         163,   164,   165,   166,   167,   168,   169,   170,   171,
         172,   173,   174,   175,   176,   177,   178,   179,   180,
         181,   182,   183,   184,   185,   186,   187,   188,   189,
         190,   191,   192,   193,   194,   195,   196,   197,   198,
         199,   200,   201,   202,   203,   204,   205,   206,   207,
         208,   209,   210,   211,   212,   213,   214,   215,   216,
         217,   218,   219,   220,   221,   222,   223,   224,   225,
         226,   227,   228,   229,   230,   231,   232,   233,   234,
         235,   236,   237,   238,   239,   240,   241,   242,   243,
         244,   245,   246,   247,   248,   249,   250,   251,   252,
         253,   254,   255,   256,   257,   258,   259,   260,   261,
         262,   263,   264,   265,   266,   267,   268,   269,   270,
         271,   272,   273,   274,   275,   276,   277,   278,   279,
         280,   281,   282,   283,   284,   285,   286,   287,   288,
         289,   290,   291,   292,   293,   294,   295,   296,   297,
         298,   299,   300,   301,   302,   303,   304,   305,   306,
         307,   308,   309,   310,   311,   312,   313,   314,   315,
         316,   317,   318,   319,   320,   321,   322,   323,   324,
         325,   326,   327,   328,   329,   330,   331,   332,   333,
         334,   335,   336,   337,   338,   339,   340,   341,   342,
         343,   344,   345,   346,   347,   348,   349,   350,   351,
         352,   353,   354,   355,   356,   357,   358,   359,   360,
         361,   362,   363,   364,   365,   366,   367,   368,   369,
         370,   371,   372,   373,   374,   375,   376,   377,   378,
         379,   380,   381,   382,   383,   384,   385,   386,   387,
         388,   389,   390,   391,   392,   393,   394,   395,   396,
         397,   398,   399,   400,   401,   402,   403,   404,   405,
         406,   407,   408,   409,   410,   411,   412,   413,   414,
         415,   416,   417,   418,   419,   420,   421,   422,   423,
         424,   425,   426,   427,   428,   429,   430,   431,   432,
         433,   434,   435,   436,   437,   438,   439,   440,   441,
         442,   443,   444,   445,   446,   447,   448,   449,   450,
         451,   452,   453,   454,   455,   456,   457,   458,   459,
         460,   461,   462,   463,   464,   465,   466,   467,   468,
         469,   470,   471,   472,   473,   474,   475,   476,   477,
         478,   479,   480,   481,   482,   483,   484,   485,   486,
         487,   488,   489,   490,   491,   492,   493,   494,   495,
         496,   497,   498,   499,   500,   501,   502,   503,   504,
         505,   506,   507,   508,   509,   510,   511,   512,   513,
         514,   515,   516,   517,   518,   519,   520,   521,   522,
         523,   524,   525,   526,   527,   528,   529,   530,   531,
         532,   533,   534,   535,   536,   537,   538,   539,   540,
         541,   542,   543,   544,   545,   546,   547,   548,   549,
         550,   551,   552,   553,   554,   555,   556,   557,   558,
         559,   560,   561,   562,   563,   564,   565,   566,   567,
         568,   569,   570,   571,   572,   573,   574,   575,   576,
         577,   578,   579,   580,   581,   582,   583,   584,   585,
         586,   587,   588,   589,   590,   591,   592,   593,   594,
         595,   596,   597,   598,   599,   600,   601,   602,   603,
         604,   605,   606,   607,   608,   609,   610,   611,   612,
         613,   614,   615,   616,   617,   618,   619,   620,   621,
         622,   623,   624,   625,   626,   627,   628,   629,   630,
         631,   632,   633,   634,   635,   636,  7894,  7895,  7896,
        7897,  7898,  7899,  7900,  7901,  7902,  7903,  7904,  7905,
        7906,  7907,  7908,  7909,  7910,  7911,  7912,  7913,  7914,
        7915,  7916,  7917,  7918,  7919,  7920,  7921,  7922,  7923,
        7924,  7925,  7926,  7927,  7928,  7929,  7930,  7931,  7932,
        7933,  7934,  7935,  7936,  7937,  7938,  7939,  7940,  7941,
        7942,  7943,  7944,  7945,  7946,  7947,  7948,  7949,  7950,
        7951,  7952,  7953, 11137, 11138, 11139, 11140, 11141, 11142,
       11143, 11144, 11145, 11146, 11147, 11148, 11149, 11150, 11151,
       11152, 11153, 11309, 11310, 11311, 11312, 11313, 11314, 11315,
       11316, 11317, 11318, 11319, 11320, 11321, 11322, 11323, 11324,
       11325, 11326, 11327, 11328, 11329, 11330, 11331, 11332, 11333,
       11334, 11335, 11336, 11337, 11338, 11339, 11340, 11341, 11342,
       11343, 11344, 11345, 11346, 11347, 11412, 11413, 11414, 11415])

In [4]:
deliveries.shape

(179078, 21)

In [5]:
match_1=deliveries[deliveries['match_id']==1]

In [6]:
match_1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [7]:
match_1.shape

(248, 21)

In [8]:
srh=match_1[match_1['inning']==1]
srh['batsman_runs'].value_counts()

1    57
0    32
4    17
6     9
2     9
3     1
Name: batsman_runs, dtype: int64

In [9]:
srh['dismissal_kind'].value_counts()

caught    3
bowled    1
Name: dismissal_kind, dtype: int64

In [10]:
rcb=match_1[match_1["inning"]==2]

In [11]:
rcb['batsman_runs'].value_counts()

0    49
1    44
4    15
6     8
2     7
Name: batsman_runs, dtype: int64

In [12]:
rcb['dismissal_kind'].value_counts()

caught     6
bowled     2
run out    2
Name: dismissal_kind, dtype: int64